.container {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.board {
  width: 400px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
}
.cards {
  border: 1px solid black;
}
.spec {
  width: 400px;
  height: 100px;
  background-color: white;
}
